
<div class="container markdown-section">
<div class="row pt-1">
    <div class="col-2">
    </div>
    <div class="col-8 card ps-4 pe-4 pt-2 pb-4">
        <!-- 博客详情 -->
        <p class="h2"><%- page.title %></p>

        <div class="pb-3 pt-1 card-body">
            <i class="fa fa-calendar p-1"></i>
            <%- date( page.date , 'YYYY/MM/DD HH:mm:ss') %> 

            <i class="fa fa-folder-open p-1"> </i> 
            <span class="tag-hover">
                <% page.categories.each(category=>{ %>
                    <a href="<%- url_for(category.path)  %> " class="link-dark text-decoration-none"> 
                        <%- category.name  %> 
                    </a>
                <% }) %> 
            </span>

            <i class="fa fa-tag p-1"> </i>
            <span class="tag-hover">
                <% page.tags.each(tag=>{ %>
                    <a href="<%- url_for(tag.path) %>" class="link-dark text-decoration-none"> 
                        <%- tag.name  %> 
                    </a>
                <% }) %>
            </span>
        </div>

        <%- page.content %> 


        <%- partial('_partial/next_post') %> 
    </div>
    <div class="col-2">
        erdf
    </div>
</div>
</div>
