
<div class="container-fluid markdown-section">
<div class="row pb-3">
    <div class="col-md-8 col-sm-12">
        <!-- 博客详情 -->
        <div class="">
            <p class="h2">
                <span class="post-title">
                    <%- page.title %>
                </span>   
            </p>

            <div class="pb-3 pt-1 pe-3">
                <i class="fa fa-calendar p-1"></i>
                <%- date( page.date , 'YYYY/MM/DD HH:mm:ss') %> 
                <% if (page.categories.length > 0) {%>
                    <i class="fa fa-folder-open p-1"> </i> 
                    <span class="tag-hover">
                        <% page.categories.each(category=>{ %>
                            <a href="<%- url_for(category.path)  %> " class="link-dark text-decoration-none"> 
                                <%- category.name  %> 
                            </a>
                        <% }) %> 
                    </span>
                <% } %>

                <% if (page.categories.length > 0) {%>
                    <i class="fa fa-tag p-1"> </i>
                    <span class="tag-hover">
                        <% page.tags.each(tag=>{ %>
                            <a href="<%- url_for(tag.path) %>" class="link-dark text-decoration-none"> 
                                <%- tag.name  %> 
                            </a>
                        <% }) %>
                    </span>
                <% } %>
            </div>

            <div class="border-bottom pb-2">
                <%- page.content %> 
            </div>
        </div>
        <% if (page.prev != null || page.next != null) {%>
            <div class="mt-3">
                <%- partial('_partial/next_post') %> 
            </div>
        <% } %>

    </div>
    <div class="col-4 pe-0">
        <div class="d-none d-sm-none d-md-block sticky-top border-start">
            <%- partial('_widget/toc') %>
        </div>
    </div>
</div>
</div>
