<!-- 侧边栏 标签 -->
<% if (site.tags.length > 0) { %>
    <div class="card mb-3">
        <div class="card-header card-header-dark">
            <i class="fa fa-tag pe-2"></i> 标签
        </div>
        <div class="p-2">
            <% var tags = site.tags.sort(theme.widgets_default_show.tag.sort_by,  
                                         theme.widgets_default_show.tag.rule) %>
            <% tags.each((tag, i)=>{ %>
                <!-- <% if (is_current(tag.path)) {%>
                    <a class="nav-link ps-3 border-bottom active-post" aria-current="page" href="<%- url_for(tag.path) %>">
                        <%- tag.name %>
                        <span class="badge bg-secondary float-end me-2"><%- tags.data[i].length %></span>
                    </a>
                <% } else { %>
                    <a class="nav-link ps-3 border-bottom" aria-current="page" href="<%- url_for(tag.path) %>">
                        <%- tag.name %>
                        <span class="badge bg-secondary float-end me-2"><%- tags.data[i].length %></span>
                    </a>
                <% } %> -->
                <a class="" href="<%- url_for(tag.path) %>"><%- tag.name %></a>
            <% }) %>
        </div>
    </div>
<% } %>