<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 pt-3 pb-3">
    <div class="container">
        <a class="navbar-brand" href="<%- url_for(config.index_generator.path) %> ">
            <%- config.title %>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <%- partial('_partial/nav_menu', {place: 'left'})  %> 
            </ul>

            <% if (theme.search.enable) { %> 
            <form class="d-flex">
                <button class="btn text-muted fa fa-search" disabled></button>
                <input id="local-search-input" class="form-control me-2 pe-4" type="search"
                        placeholder="<%- theme.search.placeholder%> " aria-label="Search">
            </form>
            <% } %>

            <ul class="navbar-nav">
                <%- partial('_partial/nav_menu', {place: 'right'})  %> 
            </ul>
        </div>
    </div>
</nav>
